*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
}

#card{
    display: flex;
    flex-direction: column;
    width: 327px ;
}

.hero{
    width: 327px ;
}

.bigGray{
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

.smallGray{
    font-size: 0.8rem;
    line-height: 1.4rem;
    
}

.blurb_section{
    padding: 1rem;
}
